fastapi
uvicorn
python-multipart
firebase-admin
python-dotenv
pydantic
passlib[argon2]
python-jose[cryptography]
requests
git+https://github.com/scaledown-team/scaledown.git
tiktoken
groq
argon2-cffi
